Repository lik778/midway-fe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: nest-install, mvip-install, nest-build, nest-build-skipped, mvip-build, mvip-build-skipped

Path conditions:
  nest-install: any of: package-lock.json
  mvip-install: any of: app/mvip-manager/package.json
  nest-build: any of: assets/**/*, src/**/*, views/**/*, nest-cli.json
  nest-build-skipped: not (any of: assets/**/*, src/**/*, views/**/*, nest-cli.json)
  mvip-build: any of: app/mvip-manager/src/**/*
  mvip-build-skipped: not (any of: app/mvip-manager/src/**/*)

feat:模块管理-提测版本
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-about-us/config.ts
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-about-us/index.tsx
  assets/site-template-2/pc/components/home/about-us-new/index.js
  assets/site-template-2/pc/components/home/about-us-new/index.styl
  assets/site-template-2/pc/home/index.js
  assets/site-template-2/pc/home/index.styl
  assets/site-template-2/pc/product-detail/index.styl
  assets/site-template-3/pc/components/home/about-us-new.styl
  src/config/local.ts
  src/services/site.service.ts
  views/site-template-2/pc/components/product-detail/product-recom-title.pug
  views/site-template-2/pc/home/index.pug
  views/site-template-2/pc/product-detail/index.pug
  views/site-template-2/pc/product/index.pug
  views/site-template-2/pc/search/index.pug
  views/site-template-3/pc/components/home/about-us-new.pug
  views/site-template-3/pc/components/product-detail/product-recom.pug
  views/site-template-3/pc/home/index.pug
  views/site-template-3/pc/product-detail/index.pug
  views/site-template-3/pc/search/index.pug
Due: nest-build, mvip-build

feat:模块管理-特测版本
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

b2c pc端：productRemmend字段修改
  src/services/site.service.ts
  views/site-template-3/wap/home/index.pug
Due: nest-build, mvip-build-skipped

模块管理-b2c wap端首页产品取值错误
  src/services/site.service.ts
  views/site-template-3/wap/home/index.pug
Due: nest-build, mvip-build-skipped

模块管理bug https://www.tapd.cn/20095111/bugtrace/bugs/view/1120095111001038873 https://www.tapd.cn/20095111/bugtrace/bugs/view/1120095111001038868
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-about-us/config.ts
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/index.tsx
  views/site-template-3/pc/product/index.pug
Due: nest-build, mvip-build

feat: 又拍云上传视频设置
  app/mvip-manager/src/api/common.ts
  app/mvip-manager/src/api/upyun.ts
  app/mvip-manager/src/app.ts
  app/mvip-manager/src/interfaces/haojing.ts
  src/config/upyun.ts
  src/controllers/upyun.controller.ts
Due: nest-build, mvip-build

style:过滤字符串里的br符号
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

feat:wap端弹出tip打点
  assets/common/wap/official-popup/index.js
Due: nest-build, mvip-build-skipped

style:wap端弹出窗换行兼容
  assets/common/wap/official-popup/index.styl
Due: nest-build, mvip-build-skipped

feat:下掉wap端留资popup
  assets/common/wap/official-popup/index.js
  assets/common/wap/official-popup/index.styl
  assets/site-template-2/wap/home/index.js
  assets/site-template-2/wap/home/index.styl
  assets/site-template-3/wap/home/index.js
  assets/site-template-3/wap/home/index.styl
  views/common/wap/official-popup.pug
  views/site-template-2/wap/home/index.pug
  views/site-template-3/wap/home/index.pug
Due: nest-build, mvip-build-skipped

feat:下掉wap端留资popup
  assets/site-template-2/wap/home/index.js
  assets/site-template-3/wap/home/index.js
Due: nest-build, mvip-build-skipped

doc: B2B客户接视频流程说明
  doc/B2B 客户接视频说明（非标）.md
Due: nest-build-skipped, mvip-build-skipped

fix: 文件tb-vendors没有生成出来，兼容一下
  src/view-helpers/index.ts
Due: nest-build, mvip-build-skipped

feat: 把图片管理页面放到店铺外
  app/mvip-manager/src/enums/index.ts
  app/mvip-manager/src/layouts/index.less
  app/mvip-manager/src/layouts/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/album-selector/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/cards/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/components/cards/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/create-album-modal/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/components/create-album-modal/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/nav/config.ts
  app/mvip-manager/src/pages/assets-manage/imageset/components/nav/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/components/nav/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/select-album-modal/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/components/select-album-modal/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/selection/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/components/selection/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/upload-modal/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/components/upload-modal/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/upload-modal/upload.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/hooks/album-names.ts
  app/mvip-manager/src/pages/assets-manage/imageset/hooks/pagination.ts
  app/mvip-manager/src/pages/assets-manage/imageset/hooks/previous.ts
  app/mvip-manager/src/pages/assets-manage/imageset/hooks/request.ts
  app/mvip-manager/src/pages/assets-manage/imageset/hooks/selection.ts
  app/mvip-manager/src/pages/assets-manage/imageset/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/statics/default-album-cover.png
  app/mvip-manager/src/pages/shop/[id]/components/shop-module-tab/index.tsx
Due: nest-build-skipped, mvip-build

style: 样式走查修改
  assets/site-template-2/pc/components/home/about-us-new/index.styl
  assets/site-template-2/pc/components/home/product-list.styl
  assets/site-template-2/pc/components/home/self-advantage.styl
  assets/site-template-2/pc/components/product/product-list.styl
  assets/site-template-2/pc/components/swiper.styl
  assets/site-template-3/pc/components/home/about-us-new.styl
  assets/site-template-3/pc/components/home/user-defined-module.styl
  assets/site-template-3/pc/components/product/product-list.styl
  src/services/site.service.ts
  views/site-template-2/pc/components/home/about-us-new.pug
  views/site-template-2/pc/components/home/product-catogeries-new.pug
  views/site-template-2/pc/components/home/swiper.pug
  views/site-template-3/pc/components/common/base-swiper.pug
  views/site-template-3/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

模块管理测试中-优化
  app/mvip-manager/src/layouts/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/article-info-swiper/components/pc/index.less
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/article-info-swiper/components/pc/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/components/select-item/components/target-component/components/content-item/index.tsx
Due: nest-build-skipped, mvip-build

refactor: 把图片预览框独立为组件
  app/mvip-manager/src/pages/assets-manage/imageset/components/cards/index.tsx
Due: nest-build-skipped, mvip-build

feat: 预览图片时可以通过键盘控制上一张或下一张
  app/mvip-manager/src/pages/assets-manage/imageset/components/cards/index.tsx
Due: nest-build-skipped, mvip-build

style: 修改了部分样式bug
  assets/site-template-2/pc/components/home/self-advantage.styl
  assets/site-template-3/pc/components/home/self-advantage.styl
Due: nest-build, mvip-build-skipped

fix: 键盘监听器重复赋值问题
  app/mvip-manager/src/pages/assets-manage/imageset/components/cards/index.tsx
Due: nest-build-skipped, mvip-build

feat: 去掉模板2移动端的视频自动播放
  assets/site-template-2/wap/components/swiper/index.js
  views/site-template-2/wap/components/swiper.pug
Due: nest-build, mvip-build-skipped

chore: release 阶段减少代码库拷贝层数以及禁用清理
  .gitlab-ci.yml
Due: nest-build-skipped, mvip-build-skipped

!fix: pug styles
  views/site-template-2/wap/components/swiper.pug
Due: nest-build, mvip-build-skipped

chore: 替换内网镜像
  dev.Dockerfile
  test.Dockerfile
  test1.Dockerfile
  test2.Dockerfile
Due: nest-build-skipped, mvip-build-skipped

fix:模块管理-轮播图左右覆盖问题
  app/mvip-manager/src/layouts/index.tsx
Due: nest-build-skipped, mvip-build

style: 自定义模块二样式调整
  app/mvip-manager/src/components/wildcat-form/index.tsx
  assets/site-template-3/pc/components/home/self-advantage.styl
  src/services/site.service.ts
  views/site-template-3/pc/components/home/self-advantage.pug
  views/site-template-3/pc/components/sidebar/cateList.pug
  views/site-template-3/pc/components/sidebar/products.pug
Due: nest-build, mvip-build

style: 自定义模块二样式bug修复
  assets/site-template-2/pc/components/home/self-advantage.styl
  assets/site-template-3/pc/components/home/self-advantage.styl
  src/services/site.service.ts
  views/site-template-2/pc/components/home/self-advantage.pug
Due: nest-build, mvip-build-skipped

style: 修复样式走查出现的问题
  assets/site-template-2/pc/components/home/self-advantage.styl
  assets/site-template-3/pc/components/home/self-advantage.styl
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

feat: 把申诉列表独立为页面
  app/mvip-manager/src/layouts/index.tsx
  app/mvip-manager/src/pages/assets-manage/audit-list/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/cards/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/components/cards/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/nav/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/selection/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/components/upload-modal/index.tsx
  app/mvip-manager/src/pages/assets-manage/imageset/index.less
  app/mvip-manager/src/pages/assets-manage/imageset/index.tsx
  src/config/local.ts
Due: nest-build, mvip-build

feat: rename imageset to card-list-page
  app/mvip-manager/src/layouts/index.tsx
  app/mvip-manager/src/pages/assets-manage/audit-list/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/album-selector/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/create-album-modal/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/create-album-modal/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/nav/config.ts
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/nav/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/nav/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/select-album-modal/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/select-album-modal/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/selection/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/selection/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/upload-modal/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/upload-modal/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/upload-modal/upload.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/hooks/album-names.ts
  app/mvip-manager/src/pages/assets-manage/card-list-page/hooks/pagination.ts
  app/mvip-manager/src/pages/assets-manage/card-list-page/hooks/previous.ts
  app/mvip-manager/src/pages/assets-manage/card-list-page/hooks/request.ts
  app/mvip-manager/src/pages/assets-manage/card-list-page/hooks/selection.ts
  app/mvip-manager/src/pages/assets-manage/card-list-page/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/statics/default-album-cover.png
Due: nest-build-skipped, mvip-build

feat: 落地页名称为空时不显示 Popover
  app/mvip-manager/src/pages/report/message/config.tsx
Due: nest-build-skipped, mvip-build

feat: 落地页详情为空时不需要 popover
  app/mvip-manager/src/pages/report/message/config.tsx
Due: nest-build-skipped, mvip-build

refactor: 把图集页面独立出来
  app/mvip-manager/src/layouts/index.tsx
  app/mvip-manager/src/pages/assets-manage/audit-list/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/nav/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/index.tsx
Due: nest-build-skipped, mvip-build

refactor: AlbumCard 独立为组件
  app/mvip-manager/src/pages/assets-manage/audit-list/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/album-card/default-album-cover.png
  app/mvip-manager/src/pages/assets-manage/image-list/album-card/index.less
  app/mvip-manager/src/pages/assets-manage/image-list/album-card/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/index.tsx
Due: nest-build-skipped, mvip-build

feat: ImageCard 独立为组件
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/album-card/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/image-card/index.less
  app/mvip-manager/src/pages/assets-manage/image-list/image-card/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/index.tsx
Due: nest-build-skipped, mvip-build

模块管理-自定义模块抽离逻辑
  app/mvip-manager/src/api/shop.ts
  app/mvip-manager/src/components/crop/index.tsx
  app/mvip-manager/src/interfaces/shop.ts
  app/mvip-manager/src/pages/company-info/phone400/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/module-form/data.d.ts
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/module-form/index.less
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/module-form/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/subform/config.ts
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/subform/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/index.less
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/index.tsx
  app/mvip-manager/src/pages/shop/components/form/index.tsx
Due: nest-build-skipped, mvip-build

模块管理-选择产品或文章模态窗只显示通过的
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/components/select-item/components/target-component/components/modal/index.tsx
Due: nest-build-skipped, mvip-build

fix: cardItem 自定义卡片组件类型错误
  app/mvip-manager/src/pages/assets-manage/audit-list/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/index.tsx
Due: nest-build-skipped, mvip-build

refactor: error-card 申诉列表自定义卡片独立为组件
  app/mvip-manager/src/pages/assets-manage/audit-list/error-card/index.less
  app/mvip-manager/src/pages/assets-manage/audit-list/error-card/index.tsx
  app/mvip-manager/src/pages/assets-manage/audit-list/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.less
  app/mvip-manager/src/pages/assets-manage/card-list-page/components/cards/index.tsx
  app/mvip-manager/src/pages/assets-manage/card-list-page/index.tsx
Due: nest-build-skipped, mvip-build

refactor: 自定义卡片的类型
  app/mvip-manager/src/pages/assets-manage/audit-list/error-card/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/album-card/index.tsx
  app/mvip-manager/src/pages/assets-manage/image-list/image-card/index.tsx
Due: nest-build-skipped, mvip-build
