Repository lik778/midway-fe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: nest-install, mvip-install, nest-build, nest-build-skipped, mvip-build, mvip-build-skipped

nest-install:
  stage: install
  tags:
  - k8s-dev-build
  image: node:12.22-alpine
  cache:
    key: midway-fe:nest-install
    policy: push
    paths:
    - node_modules/
  script:
  - npm set registry https://registry.npm.taobao.org
  - npm set progress=false
  - npm ci --silence

mvip-install:
  stage: install
  tags:
  - k8s-dev-build
  image: node:12.22-alpine
  cache:
    key: midway-fe:mvip-install
    policy: push
    paths:
    - app/mvip-manager/node_modules/
  script:
  - cd app/mvip-manager/
  - npm set registry https://registry.npm.taobao.org
  - npm set progress=false
  - npm ci --silence

nest-build:
  stage: build
  tags:
  - k8s-dev-build
  image: node:12.22-alpine
  cache:
    key: midway-fe:nest-build
    policy: push
    paths:
    - dist/
  script:
  - if [ "$CI_COMMIT_REF_SLUG" == "feat-speed-up-ci" ]; then ENV="dev"; else ENV="$CI_COMMIT_REF_SLUG"; fi
  - echo "[ENV] "$ENV
  - export NODE_ENV=$ENV
  ...

nest-build-skipped:
  stage: build
  tags:
  - k8s-dev-build
  image: node:12.22-alpine
  cache:
    key: midway-fe:nest-build
    policy: pull
    paths:
    - dist/
  script:
  - echo "nest build skipped"
  artifacts:
    expire_in: 24 hrs
    paths:
    - dist/

mvip-build:
  stage: build
  tags:
  - k8s-dev-build
  image: node:12.22-alpine
  cache:
    key: midway-fe:mvip-build
    policy: push
    paths:
    - app/mvip-manager/dist/
  script:
  - export ENV=dev
  - npm run build:mvip

mvip-build-skipped:
  stage: build
  tags:
  - k8s-dev-build
  image: node:12.22-alpine
  cache:
    key: midway-fe:mvip-build
    policy: pull
    paths:
    - app/mvip-manager/dist/
  script:
  - echo "mvip build skipped"
  artifacts:
    expire_in: 24 hrs
    paths:
    - app/mvip-manager/dist/

feat: 模板2首页轮播适配视频
  assets/site-template-2/wap/components/swiper/index.js
  assets/site-template-2/wap/components/swiper/index.styl
  assets/site-template-3/wap/components/swiper/index.js
  src/config/local.ts
  src/services/site.service.ts
  views/site-template-2/wap/components/swiper.pug
Due: nest-build, mvip-build-skipped

feat: 拣选关于我们模块新样式并兼容视频功能
  assets/site-template-2/pc/components/about-us-new/index.js
  assets/site-template-2/pc/components/about-us-new/index.styl
  assets/site-template-2/pc/home/index.js
  assets/site-template-2/pc/home/index.styl
  src/controllers/site/base-site.controller.ts
  src/services/site.service.ts
  views/site-template-2/pc/components/home/about-us-new.pug
  views/site-template-2/pc/home/index.pug
Due: nest-build, mvip-build-skipped

feat: 快速上传后门
  app/mvip-manager/src/pages/shop/[id]/imageset/components/upload-modal/upload.tsx
Due: nest-build-skipped, mvip-build

feat: 查看电话的鼠标悬浮效果
  assets/site-template-2/pc/components/about-us-new/index.styl
Due: nest-build, mvip-build-skipped

feat: 首页轮播在不同宽度屏幕上变型问题
  assets/site-template-2/pc/components/swiper.styl
  assets/site-template-3/pc/components/base-swiper.styl
Due: nest-build, mvip-build-skipped

feat: 关于我们样式调整 & 视频封面增加播放按钮
  assets/site-template-2/pc/components/about-us-new/index.styl
  assets/site-template-2/pc/home/index.js
  assets/site-template-2/pc/home/index.styl
  assets/site-template-2/wap/home/index.styl
  assets/site-template-3/pc/home/index.js
  assets/site-template-3/pc/home/index.styl
  assets/site-template-3/wap/home/index.styl
Due: nest-build, mvip-build-skipped

feat: 上传时的后门
  app/mvip-manager/src/pages/shop/[id]/imageset/components/upload-modal/upload.tsx
Due: nest-build-skipped, mvip-build

feat: 重对关于我们视频字段
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

feat: 店铺模块接口变动修改
  app/mvip-manager/mock/111
  src/config/local.ts
  src/controllers/site/base-site.controller.ts
  src/services/site.service.ts
  views/site-template-2/pc/components/common/user-defined-module-about.pug
  views/site-template-2/pc/components/home/about-us-new.pug
  views/site-template-2/pc/components/home/user-defined-module.pug
  views/site-template-2/pc/components/sidebar/news-list.pug
  views/site-template-2/pc/home/index.pug
  views/site-template-2/pc/search/index.pug
  views/site-template-2/wap/components/product-recommend.pug
  views/site-template-2/wap/components/user-defined-module.pug
  views/site-template-2/wap/home/index.pug
  views/site-template-3/pc/components/common/user-defined-module-about.pug
  views/site-template-3/pc/components/home/about-us-new.pug
  views/site-template-3/pc/components/sidebar/news-list.pug
  views/site-template-3/pc/components/sidebar/products.pug
  views/site-template-3/pc/home/index.pug
  views/site-template-3/pc/product-detail/index.pug
  views/site-template-3/pc/search/index.pug
  views/site-template-3/wap/components/product-recommend.pug
  views/site-template-3/wap/components/user-defined-module.pug
Due: nest-build, mvip-build-skipped

feat: 文章页面轮播图适配
  assets/site-template-3/pc/components/base-swiper.styl
  assets/site-template-3/pc/home/index.js
  assets/site-template-3/pc/home/index.styl
  assets/site-template-3/pc/news-detail/index.js
  assets/site-template-3/wap/components/swiper/index.js
  assets/site-template-3/wap/components/swiper/index.styl
  src/config/local.ts
  src/services/site.service.ts
  views/site-template-3/pc/components/common/base-swiper.pug
  views/site-template-3/wap/components/swiper.pug
Due: nest-build, mvip-build-skipped

feat: 对接关于我们视频
  assets/site-template-2/pc/components/about-us-new/index.js
  assets/site-template-2/pc/components/about-us-new/index.styl
  assets/site-template-2/pc/home/index.styl
  src/services/site.service.ts
Due: nest-build, mvip-build-skipped

feat: 对接首页轮播视频
  assets/site-template-3/pc/home/index.js
  assets/site-template-3/wap/components/swiper/index.js
  views/site-template-3/pc/components/common/base-swiper.pug
  views/site-template-3/wap/components/swiper.pug
Due: nest-build, mvip-build-skipped

fix: B2B 首页轮播视频不能暂停问题
  views/site-template-2/wap/components/swiper.pug
Due: nest-build, mvip-build-skipped

feat: 对接 B2B 首页视频
  assets/site-template-2/wap/components/swiper/index.js
  assets/site-template-2/wap/components/swiper/index.styl
  assets/site-template-3/pc/home/index.js
Due: nest-build, mvip-build-skipped

fix: banner 模板数据读取出错问题
  src/controllers/site/base-site.controller.ts
  src/services/site.service.ts
  views/site-template-2/pc/components/home/swiper.pug
Due: nest-build, mvip-build-skipped

fix: 暂时将新版关于我们的图片替换掉
  src/services/site.service.ts
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

feat: 非开发环境关闭 TS 校验提高打包速度
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  README.md
  app/mvip-manager/package-lock.json
  app/mvip-manager/package.json
  app/mvip-manager/src/skip.txt
  build/chore/release.js
  build/chore/utils.js
  build/webpack.base.config.js
  build/webpack.prod.config.js
  dev.Dockerfile
  package-lock.json
  package.json
  src/config/index.ts
  src/config/test1.ts
  src/skip.txt
  src/view-helpers/index.ts
  test.Dockerfile
  test1.Dockerfile
  test2.Dockerfile
  yarn.lock
Due: nest-install, mvip-install, nest-build, mvip-build

fix: 修复打包脚本环境变量导出方式
  package.json
Due: nest-build-skipped, mvip-build-skipped

fix: 修复启动 node 时环境变量导出方式
  package.json
Due: nest-build-skipped, mvip-build-skipped

模块管理-管理后台页面大体完成
  app/mvip-manager/src/api/shop.ts
  app/mvip-manager/src/pages/shop/[id]/carousel/components/carousel-img/index.less
  app/mvip-manager/src/pages/shop/[id]/carousel/components/carousel-img/index.tsx
  app/mvip-manager/src/pages/shop/[id]/carousel/index.less
  app/mvip-manager/src/pages/shop/[id]/carousel/index.tsx
  app/mvip-manager/src/pages/shop/[id]/components/shop-basis-tab/index.tsx
  app/mvip-manager/src/pages/shop/[id]/customer/components/customer-item/components/form/config.ts
  app/mvip-manager/src/pages/shop/[id]/customer/components/customer-item/components/form/index.less
  app/mvip-manager/src/pages/shop/[id]/customer/components/customer-item/components/form/index.tsx
  app/mvip-manager/src/pages/shop/[id]/customer/components/customer-item/components/preview/index.less
  app/mvip-manager/src/pages/shop/[id]/customer/components/customer-item/components/preview/index.tsx
  app/mvip-manager/src/pages/shop/[id]/customer/components/customer-item/index.less
  app/mvip-manager/src/pages/shop/[id]/customer/components/customer-item/index.tsx
  app/mvip-manager/src/pages/shop/[id]/customer/index.less
  app/mvip-manager/src/pages/shop/[id]/customer/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/subform/config.ts
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/subform/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/index.less
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-swiper/components/pc/index.less
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-swiper/components/pc/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-swiper/index.tsx
  src/config/local.ts
Due: nest-build, mvip-build

fix:b2b首页关于我们查看详情按钮bug
  assets/site-template-2/pc/components/about-us-new/index.js
  assets/site-template-2/pc/components/about-us-new/index.styl
  src/services/site.service.ts
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

fix：b2b首页关于我们文本换行符剔除
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

店铺模板导航展开
  assets/common/pc/official-nav/index.js
  assets/common/pc/official-nav/index.styl
  assets/site-template-3/pc/components/breadcrumbs.styl
  src/config/local.ts
  src/services/site.service.ts
  views/common/pc/official-nav.pug
Due: nest-build, mvip-build-skipped

feat: 替换新版关于我们默认图片
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

feat: 模板2wap轮播过2.5s自动播放视频
  assets/site-template-2/wap/components/swiper/index.js
  views/site-template-2/wap/components/swiper.pug
Due: nest-build, mvip-build-skipped

test:删除console
  src/controllers/site/base-site.controller.ts
Due: nest-build, mvip-build-skipped

feat:运营管理平台小工具
  assets/midway-admin/api/base.ts
  assets/midway-admin/api/commonFunction.ts
  assets/midway-admin/api/shop.ts
  assets/midway-admin/api/switchShopType.ts
  assets/midway-admin/api/verify.ts
  assets/midway-admin/components/Layout/index.tsx
  assets/midway-admin/interfaces/commonFunction.tsx
  assets/midway-admin/pages/AuditImage/index.tsx
  assets/midway-admin/pages/CleanCache/index.tsx
  assets/midway-admin/pages/ModifyStore/index.tsx
  assets/midway-admin/pages/StoreWhitelist/index.tsx
  assets/midway-admin/pages/SwitchShopType/index.tsx
  assets/midway-admin/pages/VerifyWord/components/VerifyWordModal/index.styl
  assets/midway-admin/pages/VerifyWord/components/VerifyWordModal/index.tsx
  assets/midway-admin/pages/VerifyWord/index.tsx
  assets/midway-admin/routes.tsx
Due: nest-build, mvip-build-skipped

feat: b2b,b2c pc端 wap端模板接口对接
  assets/site-template-2/pc/about/index.styl
  assets/site-template-2/pc/components/swiper.styl
  assets/site-template-3/pc/about/index.styl
  assets/site-template-3/pc/components/home/about-us-new.styl
  src/controllers/site/base-site.controller.ts
  src/services/site.service.ts
  views/site-template-2/pc/about/index.pug
  views/site-template-2/pc/components/home/about-us-new.pug
  views/site-template-2/pc/components/home/swiper.pug
  views/site-template-2/pc/components/sidebar/news-list.pug
  views/site-template-2/pc/components/sidebar/products.pug
  views/site-template-2/pc/news-detail/index.pug
  views/site-template-2/pc/news-detail/news-detail-swiper.pug
  views/site-template-2/wap/components/company-info-home.pug
  views/site-template-2/wap/components/product-recommend.pug
  views/site-template-2/wap/components/swiper.pug
  views/site-template-3/pc/about/index.pug
  views/site-template-3/pc/components/common/base-swiper.pug
  views/site-template-3/pc/components/home/about-us-new.pug
  views/site-template-3/pc/components/home/news-center-new.pug
  views/site-template-3/pc/components/home/self-advantage.pug
  views/site-template-3/pc/components/sidebar/news-list.pug
  views/site-template-3/pc/components/sidebar/products.pug
  views/site-template-3/pc/home/index.pug
  views/site-template-3/pc/product/index.pug
  views/site-template-3/wap/home/index.pug
  views/site-template-3/wap/news-detail/index.pug
  views/site-template-3/wap/product/index.pug
Due: nest-build, mvip-build-skipped

style: 轮播图样式修改
  assets/site-template-2/pc/components/swiper.styl
  assets/site-template-2/pc/home/index.js
  views/site-template-2/pc/components/home/swiper.pug
Due: nest-build, mvip-build-skipped

模块管理自查bug
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-swiper/components/pc/index.tsx
  assets/site-template-2/pc/components/home/self-advantage.styl
  assets/site-template-2/pc/home/index.styl
  src/controllers/site/base-site.controller.ts
  src/services/site.service.ts
  views/site-template-2/pc/components/home/self-advantage.pug
  views/site-template-2/pc/components/sidebar/news-list.pug
  views/site-template-2/pc/home/index.pug
  views/site-template-2/wap/components/swiper.pug
  views/site-template-3/pc/components/common/base-swiper.pug
  views/site-template-3/pc/components/sidebar/products.pug
  views/site-template-3/pc/home/index.pug
  views/site-template-3/pc/news-detail/index.pug
  views/site-template-3/pc/product/index.pug
  views/site-template-3/wap/components/company-info.pug
Due: nest-build, mvip-build

fix: 修复 install 阶段缓存策略
  .gitlab-ci.yml
Due: nest-build-skipped, mvip-build-skipped

模块管理-自定义模块默认值设置错误
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/index.tsx
  app/mvip-manager/src/pages/shop/[id]/module-management/components/select-page/index.tsx
Due: nest-build-skipped, mvip-build

fix: 测试是否是企业资料返回了非标回车导致的换行问题
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

规范了一些之前写的代码
  assets/site-template-3/pc/components/home/about-us-new.styl
  assets/site-template-3/pc/components/home/product-list-new/index.styl
  src/controllers/site/base-site.controller.ts
  src/services/site.service.ts
  views/site-template-2/pc/components/home/about-us-new.pug
  views/site-template-2/pc/home/index.pug
  views/site-template-2/wap/components/company-info-home.pug
  views/site-template-2/wap/home/index.pug
  views/site-template-3/pc/components/home/about-us-new.pug
  views/site-template-3/pc/components/home/product-list-new.pug
  views/site-template-3/pc/home/index.pug
  views/site-template-3/wap/home/index.pug
Due: nest-build, mvip-build-skipped

fix: 视频播放后自动暂停的问题
  assets/site-template-2/wap/components/swiper/index.js
Due: nest-build, mvip-build-skipped

fix: last
  assets/site-template-2/wap/components/swiper/index.js
Due: nest-build, mvip-build-skipped

fix: 切换 node 镜像地址
  .gitlab-ci.yml
  Dockerfile
Due: nest-build-skipped, mvip-build-skipped

fix: npm 安装权限问题
  .gitlab-ci.yml
  Dockerfile
Due: nest-build-skipped, mvip-build-skipped

feat:模块管理-提测版本
  app/mvip-manager/src/pages/shop/[id]/module-management/components/content/components/home-custom/components/subform/config.ts
  src/services/site.service.ts
  views/site-template-3/pc/product/index.pug
Due: nest-build, mvip-build

test:公司简介标识
  views/site-template-2/pc/components/home/about-us-new.pug
Due: nest-build, mvip-build-skipped

Path conditions:
  nest-install: any of: package-lock.json
  mvip-install: any of: app/mvip-manager/package.json
  nest-build: any of: assets/**/*, src/**/*, views/**/*, nest-cli.json
  nest-build-skipped: not (any of: assets/**/*, src/**/*, views/**/*, nest-cli.json)
  mvip-build: any of: app/mvip-manager/src/**/*
  mvip-build-skipped: not (any of: app/mvip-manager/src/**/*)
